.app-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  color: #0088cc;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #0b4c6dcc;
}

p {
  margin-top: 20px;
  line-height: 1.6;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
  color: #666;
}

@media screen and (max-width: 576px) {
  .responsive-form {
    display: flex;
    flex-direction: column;
  }
}
